@charset "utf-8";
/*
	 * author  : fzq
	 * email   : fzq@feiniu.com
	*/
.b2b_mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 66;
}
.b2b_mask .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: transLate(-50%, -50%);
      -ms-transform: transLate(-50%, -50%);
       -o-transform: transLate(-50%, -50%);
          transform: transLate(-50%, -50%);
}
/***
 UI 自定义 公共 ued颜色规范
**/
.over {
  overflow: hidden;
}
.fn-user-agreement .main {
  padding: .24rem;
  background-color: #fff;
}
.fn-user-agreement .main p {
  color: #666666;
  margin-bottom: .2rem;
  line-height: .35rem;
}
.fn-user-agreement .main p span {
  display: block;
  text-indent: .6rem;
}
.fn-user-agreement .main h2 {
  text-align: center;
  font-size: 0.36rem;
  margin: .3rem 0;
  font-weight: 400;
}
.fn-user-agreement .main h3 {
  font-size: 0.32rem;
  font-weight: 200;
  margin-bottom: 0.2rem;
}
.fn-user-agreement .main h4 {
  font-size: .3rem;
  font-weight: 100;
  margin-bottom: 0.2rem;
}
