@charset "utf-8";
/*
	 * author  : fzq
	 * email   : fzq@feiniu.com
	*/
.b2b_mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 66;
}
.b2b_mask .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: transLate(-50%, -50%);
      -ms-transform: transLate(-50%, -50%);
       -o-transform: transLate(-50%, -50%);
          transform: transLate(-50%, -50%);
}
/***
 UI 自定义 公共 ued颜色规范
**/
.over {
  overflow: hidden;
}
/*DOM结构
<div class="b2b_title">
    <div>
        <img src="<%=ctx%>/assets/images/b2b/erode_03.png">
    </div>
    <span class="store">大润发闸北店</span>
</div>
*/
.b2b_title {
  line-height: 1.08rem;
  text-align: center;
  position: relative;
  background: #f9f9f9;
}
.b2b_title:after {
  content: "";
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
       -o-transform: scaleY(0.5);
          transform: scaleY(0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  background: #e5e5e5;
}
.b2b_title div {
  display: inline-block;
  width: 2.6rem;
  height: 0.6rem;
  vertical-align: middle;
}
.b2b_title div img {
  width: 100%;
  height: 100%;
}
.b2b_title .store {
  position: absolute;
  right: 0.24rem;
  top: 0;
  max-width: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*DOM 结构
  <p class="info-login">亲，赶快去登录/注册才能查看优惠价格哦！<a href="javascript:;">登录/注册</a></p>
*/
.info-login {
  line-height: 0.35rem;
  background: #ffefef;
  padding: 0.2rem 0.24rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.24rem;
  color: #666666;
}
.info-login a {
  text-decoration: underline;
  color: #d7063b;
}
/*DOM 结构
    <div class="search">
        <div class="search-address">
            <p class="back"><span class="iconfont"></span></p>
            <p class="search-box"><span class="iconfont">&#xe67b;</span><input type="text" placeholder="请输入"><span class="cancle iconfont">&#xe66a;</span></p>
            <p class="iconfont cart">&#xe659;<span>1</span></p>
            <p class="iconfont nav">&#xe684;</p>
        </div>
        <ul class="search-list hide">
            <li>
              <h3>大宁</h3>
              <p>玉堂街55号</p>
            </li>
            <li>
              <h3>大宁</h3>
              <p>玉堂街55号</p>
            </li>
            <li>
              <h3>大宁</h3>
              <p>玉堂街55号</p>
            </li>
            <li>
              <h3>大宁</h3>
              <p>玉堂街55号</p>
            </li>
        </ul>
        <div class="mask"></div>
    </div>
*/
.search {
  background: #fff;
  position: relative;
}
.search .search-address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 0.84rem;
  height: 0.9rem;
  padding: 0 0.2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.search .search-address:after {
  content: "";
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
       -o-transform: scaleY(0.5);
          transform: scaleY(0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  background: #e5e5e5;
}
.search .search-address .back {
  position: relative;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin-top: -0.2rem;
  margin-left: -0.24rem;
}
.search .search-address .back:after {
  content: '';
  position: absolute;
  left: 40%;
  top: 50%;
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.2rem;
  margin-top: -0.08rem;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent ;
  border-left: 1px solid #333333;
  border-bottom: 1px solid #333333;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.search .search-address .search-box {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #e5e5e5;
  height: 0.65rem;
  line-height: 0.65rem;
  border-radius: 0.1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.search .search-address .search-box span {
  margin: 0 0.1rem 0 0.2rem;
}
.search .search-address .search-box .text {
  line-height: 0.65rem;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.search .search-address .search-box input {
  border: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.search .search-address .search-box input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizeing: content-box;
}
.search .search-address .search-box input::-webkit-search-cancel-button,
.search .search-address .search-box input::-webkit-search-decoration {
  display: none;
}
.search .search-address .cart {
  padding-left: 0.3rem;
  padding-right: 0.08rem;
  position: relative;
}
.search .search-address .cart .carticon {
  font-size: 0.48rem;
  line-height: 0.9rem;
}
.search .search-address .cart .num {
  position: absolute;
  top: 10%;
  right: -0.2rem;
  display: block;
  min-width: 0.37rem;
  height: 0.37rem;
  line-height: 0.3rem;
  border-radius: 50%;
  background: #d7063b;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 0.24rem;
  padding: 0.02rem 0.08rem;
}
.search .search-address .cancle {
  color: #a8a8a8;
  margin-left: 0.3rem;
}
.search .down {
  position: relative;
}
.search .down:after {
  content: "";
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
       -o-transform: scaleY(0.5);
          transform: scaleY(0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  background: #e5e5e5;
}
.search .search-list {
  height: auto;
}
.search .search-list li {
  position: relative;
  padding-left: 0.24rem;
}
.search .search-list li:after {
  content: "";
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
       -o-transform: scaleY(0.5);
          transform: scaleY(0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  background: #e5e5e5;
}
.search .search-list li h3 {
  font-size: 0.32rem;
  color: #333333;
  padding-top: 0.3rem;
  padding-bottom: 0.14rem;
}
.search .search-list li p {
  padding-bottom: 0.3rem;
  font-size: 0.24rem;
  color: #999;
}
.search .search-list li:last-child:after:after {
  height: 0;
}
.search .mask {
  height: 600px;
  background: rgba(0, 0, 0, 0.5);
}
/*
<div class="fast-bottom-nav">
    <div class="nav-box">
        <div class="active">
            <P class="iconfont">&#xe652;</P>
            <p>商品分类</p>
        </div>
        <div>
            <P class="iconfont" style="font-size:0.5rem">&#xe659;</P>
            <p>购物车</p>
        </div>
        <div>
            <P class="iconfont">&#xe659;</P>
            <p>我的订单</p>
        </div>
    </div>
</div>
*/
.fast-bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 555;
  width: 100%;
}
.fast-bottom-nav .nav-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.fast-bottom-nav .nav-box:after {
  content: "";
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
       -o-transform: scaleY(0.5);
          transform: scaleY(0.5);
  position: absolute;
  left: 0;
  top: 0;
  background: #d5d5d5;
}
.fast-bottom-nav .nav-box > * {
  display: block;
}
.fast-bottom-nav .nav-box div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.fast-bottom-nav .nav-box div p {
  text-align: center;
  color: #333;
}
.fast-bottom-nav .nav-box div .iconfont {
  font-size: 0.45rem;
  margin-bottom: 0.01rem;
  padding-top: 0.2rem;
}
.fast-bottom-nav .nav-box div p:nth-child(2) {
  padding-bottom: 0.05rem;
  font-size: 0.22rem;
}
.fast-bottom-nav .nav-box div.active p {
  color: #d7063b;
}
.fast-bottom-nav .nav-box div.disabled_nav p {
  color: #d2d2d2;
}
.fixedbtn {
  position: fixed;
  bottom: 1.12rem;
  right: 0.24rem;
  width: 0.88rem;
  z-index: 99;
}
.fixedbtn li {
  width: 34px;
  height: 34px;
  display: block;
  margin-bottom: 0.18rem;
  position: relative;
  background: url('../../images/fixedbtns.png') no-repeat;
  -webkit-background-size: 100% auto;
          background-size: 100% auto;
}
.fixedbtn li:last-child {
  margin-bottom: 0;
}
.fixedbtn li b {
  position: absolute;
  right: .01rem;
  top: .01rem;
  min-width: .37rem;
  height: .37rem;
  line-height: .37rem;
  display: block;
  background: #c70034;
  font-size: .18rem;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  text-align: center;
}
.fixedbtn li.search {
  background-position: 0 0;
}
.fixedbtn li.homepage {
  background-position: 0 -34px;
}
.fixedbtn li.footprint {
  background-position: 0 -68px;
}
.fixedbtn li.cart {
  background-position: 0 -102px;
}
.fixedbtn li.top {
  background-position: 0 -136px;
}
html,
body {
  width: 100%;
}
.catehead {
  z-index: 667;
  position: relative;
}
.top_box {
  position: relative;
  z-index: 999;
  height: 0.94rem;
  line-height: 0.94rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.12rem;
}
.top_box .tab_nav {
  margin-right: 0.24rem;
  font-size: 0.36rem;
}
.top_box .search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.2rem;
  padding: 0 0.2rem;
  border-radius: 0.08rem;
  height: 0.64rem;
  background: #e5e5e5;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.top_box .search .iconfont {
  display: block;
  color: #999;
  font-size: 20px;
  line-height: 0.74rem;
}
.top_box .search input {
  outline: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.14rem;
  border: none;
  display: block;
}
.top_box .search input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizeing: content-box;
}
.top_box .search input::-webkit-search-cancel-button,
.top_box .search input::-webkit-search-decoration {
  display: none;
}
.top_box .search .cancle {
  font-size: 0.4rem;
}
.top_box .home_icon {
  position: relative;
  top: 0.08rem;
}
.top_box .home_icon:after {
  font-family: iconfont!important;
  content: '\e60d';
  font-size: 0.6rem;
}
.top_box .home_link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.top_nav {
  z-index: 999;
}
.classify {
  position: relative;
  height: 500px;
}
.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.wrapperl {
  z-index: 555;
  left: 0;
  width: 1.7rem;
}
.wrapperr {
  z-index: 11;
  width: 100%;
  right: 0;
}
.wrapperr .scroller {
  padding-left: 101px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 0.2rem;
  margin-top: 0.1rem;
}
.wrapperr .banner {
  width: 100%;
  margin-top: 0.2rem;
}
.wrapperr .banner img {
  height: 1.8rem;
  width: 100%;
}
.scroller {
  position: absolute;
  width: 100%;
}
.listblock {
  margin-bottom: 0.2rem;
}
.listblock .title {
  font-size: 0.28rem;
  color: #333333;
  position: relative;
  line-height: 0.8rem;
  height: 0.8rem;
}
.listblock .title a {
  font-size: 0.28rem;
  color: #333333;
  display: block;
  width: 100%;
  height: 100%;
}
.listblock .title a:after {
  position: absolute;
  font-family: iconfont!important;
  font-style: normal;
  content: '\e60b';
  font-size: 0.3rem;
  display: inline-block;
  right: 0;
}
.listblock ul li {
  float: left;
  width: 32.4%;
  padding: 0 0.2rem;
  border-bottom: 1px solid #f4f4f4;
}
.listblock ul li a {
  display: block;
  line-height: 0.9rem;
}
.listblock ul li a img {
  width: 68px;
  height: 68px;
  display: block;
  margin: auto;
}
.listblock ul li a p {
  font-size: 0.24rem;
  color: #333333;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.listblock ul li li:nth-child(3n+0) {
  margin-right: 0;
}
.listblock ul li:nth-child(3n+1) {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}
.listblock ul li:nth-child(3n) {
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}
.listblock ul li:last-child {
  border-right: 1px solid #f4f4f4;
}
.listblock ul li:nth-child(3),
.listblock ul li:nth-child(2),
.listblock ul li:first-child {
  border-top: 1px solid #f4f4f4;
}
.wrapperl ul {
  width: 90px;
}
.wrapperl ul li {
  line-height: 0.88rem;
  font-size: 0.28rem;
  width: 1.7rem;
  height: 0.88rem;
  color: #666666;
  text-align: center;
  background: #f4f4f4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 3px;
  position: relative;
}
.wrapperl ul li:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  left: 0;
  bottom: 0;
}
.wrapperl ul li.current {
  color: #d7063b;
  background: #fff;
}
.wrapperl ul li.current:before {
  width: 0.1rem;
  height: 0.88rem;
  background: #d7063b;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.pop_appdown {
  z-index: 999!important;
}
.foot_nav {
  z-index: 888!important;
}
.bnav_h {
  z-index: 889!important;
}
.networkerror {
  height: 7.6rem;
}
.networkerror img {
  width: 2.1rem;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
}
.networkerror p {
  text-align: center;
  font-size: 0.32rem;
  color: #666666;
  padding: 0.88rem 0 0.5rem;
}
.networkerror a {
  width: 1.8rem;
  line-height: 0.8rem;
  height: 0.84rem;
  display: block;
  margin: 0 auto;
  border: 1px solid #333333;
  color: #333333;
  text-align: center;
  border-radius: 0.04rem;
}
.mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 666;
}
.over {
  overflow: hidden;
}
